body {
    margin: 0;
    padding: 0;
}

.sav {
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.sav:nth-of-type(odd) {
    background-color: #ffffff;
}

.sav:nth-of-type(even) {
    background-color: #21728f;
}

.box {
    width: 50%;
    min-width: 500px;
    border: 30px;
    padding: 120px 0;
    margin: auto;
    text-align: center;
}

.kepek {
    float: right;
    padding: 6px;
    padding-top: 0px;
    color: #7f7f7f;
    background-color: #ffffff;
    text-align: center;
    font-size: 15px;
    border: 1px solid #7f7f7f;
    box-shadow: 0 3px 6px 3px #7f7f7f;
}

.kepek>* {
    display: block;
    padding: 0;
    line-height: normal;
}

.kepek img {
    margin: 7px;
    width: 160px;
}

.photos {
    background-color: #000000;
    padding: 5px;
    font-size: 10px;
}

.szoveg {
    width: 50%;
    float: left;
    padding-top: 80px;
    text-align: left;
}

.clear {
    clear: both;
    padding: 0;
    margin: 0;
}

.e-mail {
    margin: auto;
    text-align: center;
    color: #ffffff;
}

.download {
    margin: auto;
    text-align: center;
    color: #000000;
}

h2,
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
}

p {
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
    color: #7f7f7f;
}

#underline {
    text-decoration: underline;
    color: #21728f;
}

#white {
    color: #ffffff;
}

#mail-address {
    color: #7f7f7f;
    font-family: 'Nunito', sans-serif;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
    border: none;
    padding: 5px;
    width: 320px;
    margin: -3px;
}

#send {
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    background-color: #113847;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    border: none;
    padding: 5px;
    width: 100px;
}

#IOS,
#Android {
    color: #ffffff;
    background-color: #21728f;
    font-family: 'Nunito', sans-serif;
    border-radius: 18px;
    border: none;
    padding: 7px;
    width: 170px;
}

.fa {
    font-size: 10px;
    text-align: right;
    text-decoration: none;
    color: #7f7f7f;
}

.fa-facebook:hover {
    color: #627AAD;
}

.fa-twitter:hover {
    color: #77BDF1;
}

.fa-youtube:hover {
    color: #C93333;
}

.fa-dribbble:hover {
    color: #EE70A1;
}

.fa-vimeo:hover {
    color: #6AC9FF;
}

#socialmedia {
    text-align: end;
    padding-top: 12px;
}

#footer .box {
    height: 40px;
    padding: 0;
}

#footer {
    background-color: white;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}