body,
html {
    background: linear-gradient(to top right, rgb(75, 205, 227), rgb(1, 48, 78));
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

div.innerCont {
    background: transparent;
    width: 450px;
    height: 350px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 2px;
}

div.relativ-div {
    position: relative;
}

div.circle {
    border: 0;
    position: relative;
    height: 120px;
    width: 120px;
    background: #295379;
    border-radius: 60px;
    top: -60px;
    margin: auto;
}

.fa-camera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: white;
}

.fa-user {
    position: relative;
    left: 30px;
    z-index: 2;
    top: -5px;
    color: grey;
}

form>input:first-of-type {
    position: relative;
    top: -50px;
    box-sizing: border-box;
    display: block;
    width: 90%;
    border: 0px;
    padding: 10px 10px 10px 30px;
    height: 50px;
    font-size: 1.1em;
    margin: 10px auto 20px;
    border-radius: 3px;
}

input:nth-of-type(2) {
    box-sizing: border-box;
    top: -80px;
    position: relative;
    display: block;
    width: 90%;
    border: 0;
    padding: 10px 10px 10px 30px;
    font-size: 1.1em;
    height: 50px;
    margin: 10px auto 20px;
    border-radius: 3px;
}

.fa-lock {
    position: relative;
    left: 30px;
    top: -32px;
    z-index: 2;
    color: grey;
}

input:nth-of-type(3) {
    position: absolute;
    top: 260px;
    width: 90%;
    height: 38px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #0460AC;
    border: 0;
    color: white;
    font-size: 15px;
}

div.bottom {
    position: absolute;
    top: 320px;
    left: 15%;
    color: #113159;
}

a {
    position: absolute;
    top: 320px;
    right: 15%;
    border: 0;
    font-style: italic;
    color: #113159;
}

p.copyright {
    position: relative;
    left: 50%;
    top: 40px;
    transform: translate(-25%, 0);
    color: white;
}

#success {
    position: absolute;
    bottom: 50px;
    left: 30px;
}

#error {
    position: absolute;
    color: red;
    bottom: 50px;
    left: 23px;
}